* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.header {
    /* border: 2px solid black; */
    height: 70px;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

.header p {
    line-height: 60px;
    float: left;
    font-size: 32px; 
    font-family: 'Proza Libre'; 
    margin-left: 10px;
    color: #1ABC9C;
    font-weight: bold;
}

.header ul {
    float: right;
    display: flex;
    list-style: none;
    line-height: 60px;
    margin-right: 10px;
}

.header ul li {
    padding: 0 12px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #1ABC9C;
}

/* form styling */

.form {
    width: 500px;
    margin: auto;
    height: 655px;
    border: 2px solid #C8C8C8;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    /* overflow: hidden; */
}

.form-head {
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 10px 10px 0 0;
    width: 100.5%;
    height: 70px;
    /* background-color: #B8B8B8; */
    background-color: #C0C0C0;
}

.form-head p {
    color: #FEFFED;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 70px;
    margin-left: 35px;
}

.form-main {
    width: 100%;
    height: 450px;
    /* border: 1px solid salmon; */
}

.main-wrapper {
    height: 100%;
    margin: 0 35px 0 35px;
}

/* .form-foot {
    width: 100%;
    height: 75px;
    border: 1px solid salmon;
} */


/* form styling */

form {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

form #title {
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid 	#C8C8C8;
    margin-bottom: 7px;
}

form textarea {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid 	#C8C8C8;
    margin-bottom: 7px;
}

#os {
    width: 100%;
    margin-top: 5px;
    background-color: #1dd1a1;
    padding: 6px 10px;
    border-radius: 5px;
    color: #FEFFED;
    border: 2px solid #1dd1a1;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

#product {
    width: 100%;
    margin-top: 5px;
    background-color: #1dd1a1;
    padding: 6px 10px;
    border-radius: 5px;
    color: #FEFFED;
    border: 2px solid #1dd1a1;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

#version {
    width: 100px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid 	#C8C8C8;
    margin-bottom: 7px;
}

.license {
    margin-left: 70px;
    margin-top: 5px;
    border: 2px solid #C8C8C8;
}

.space {
    margin-bottom: 7px;
}

#urgent {
    width: 100%;
    margin-top: 5px;
    background-color: #1dd1a1;
    padding: 6px 10px;
    border-radius: 5px;
    color: #FEFFED;
    border: 2px solid #1dd1a1;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

.file-input {
    width: 100%;
}

#attachment {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}


.form-foot {
    border-radius: 0 0 10px 10px;
    margin-top: 62px;
    margin-left: -1px;
    width: 100.3%;
    height: 65.5px;
    /* background-color: #B8B8B8; */
    background-color: #F0F0F0;
    margin-bottom: 50px;
}

.form-foot button {
    padding: 6px 18px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #1dd1a1;
    border: 2px solid #1dd1a1;
    color: #FEFFED;
    font-size: 14px;
    margin-top: 15px;
    float: right;
    margin-right: 35px;
}